.App {
  width: 1800px;
  margin: auto;
  font-family: Roboto, sans-serif;
}
.content {
  width: 1300px;
  margin: auto;
  margin-bottom: 100px;
}

.grid-container {
/*  width: 1300px;*/
  overflow-x: scroll;
  padding-bottom: 16px;
}
